apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: ebooks-app
spec:
  selector:
    app: payment-service
  ports:
  - port: 3004
    targetPort: 3004
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deployment
  namespace: ebooks-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment
        image: adarshbarkunta/payment-service:26
        ports:
        - containerPort: 3004
        env:
        - name: PORT
          value: "3004"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: JWT_SECRET
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: payment-hpa
  namespace: ebooks-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: payment-deployment
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
