apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: ebooks-app
type: Opaque
stringData:
  POSTGRES_PASSWORD: postgres
  POSTGRES_URL: postgres://postgres:postgres@postgres:5432/postgres
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: ebooks-app
spec:
  ports:
  - port: 5432
  selector:
    app: postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: ebooks-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:13
        env:
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        ports:
        - containerPort: 5432
        volumeMounts:
        - name: pgdata
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: pgdata
        emptyDir: {}
